<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<!--For proper scaling-->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>QMS</title>

	<!--Link to Bootsrap style-->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
</head>

<body style="background-color: #e8b5ba">
  <div align="center" style="margin-top: 18%;">
	<a href="register" type="button" class="btn btn-success btn-lg">Register</a>
  </div>
  <div style="margin-top: 45px;" align="center">
	<a href="queue details" type="button bt-lg" class="btn btn-success btn-lg">View Queue</a>
	</div>
  </body>
  </html>